.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #229954;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-box {
  float: right;
  width: 300px;
  height: 290px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
  background: white;
}

.App-display {
  text-align: left;
  position: relative;
  color: black;
  height: 250px;
  padding: 20px;
}

.App-entry {
  text-align: left;
  position: relative;
  color: black;
  height: 375px;
  overflow: auto;
  padding: 20px;
}

.App-grade {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #232C39;
  background-image: linear-gradient(45deg, rgba(0, 216, 255, .5) 10%, rgba(0, 1, 127, .7));
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

.App-intro {
  font-size: large;
}

.red-led {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 2px red;
  
  float:left;
  margin-right: 10px;
}

.green-led {
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 2px green;
  
  float:left;
  margin-right: 10px;
}

vr {
    display: block;
    width:1px;
    background-color:white;
    position:absolute;
    top:0;
    bottom:0;
    right:325px;
}

label{
    display:inline-block;
    width:100px;
    padding-left:2em;
    padding-right:2em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
